#coreFunctions{
    padding:88px 0 70px 0;
    background-image: url('/images/roadmap/background.svg');
    background-repeat: no-repeat;
    background-position: right top;
}

#coreFunctions h2{
    font-size: 40px;
    text-align: center;
    margin-top:0;
    margin-bottom: 76px;
}

#coreFunctions .con-functions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#coreFunctions .con-functions .con-functions-col{
   
}

#coreFunctions .con-functions .con-functions-item{
    display: flex;
    margin:40px 0;
}

#coreFunctions .con-functions .con-functions-item .ico{
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

#coreFunctions .con-functions .con-functions-item .title{
    font-size: 24px;
    font-weight: 600;
    margin:18px 0 14px;
}

#coreFunctions .con-functions .con-functions-item .desc{
    font-size: 14px;
    min-height: 63px;
}