@media (min-width: 868px) {
  #firstSection .content {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  #firstSection .buttons {
    flex-direction: row;
  }

  #firstSection .buttons button {
    width: 160px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 24px;
  }

  #firstSection .topShadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 164px;
    background: linear-gradient(0, rgba(255, 255, 255, 0) 0%, #ffffff 86.98%);
  }
}

@media (min-width: 1124px) {
  #firstSection {
    height: 80vh;
    min-height: 860px;

    background-image: url('/images/firstSection/headLineBody.png'),
      url('/images/firstSection/headLineCorner.png');
    background-repeat: no-repeat;
    background-position: center bottom, top right;
    background-size: 100% auto, 620px auto;
  }

  #firstSection .logo {
    width: 420px;
    height: 300px;
  }

  #firstSection .content h1 {
    font-size: 64px;
    margin: 0;
  }

  #firstSection .content h2 {
    font-size: 32px;
    margin: 0;
  }

  #firstSection .content .subtitle {
    font-size: 18px;
    line-height: 30px;
  }

  #firstSection .leftContent {
    margin-top: 0;
  }
}

@media (min-width: 1380px) {
  #firstSection .logo {
    margin-right: 100px;
  }
}

@media (min-width: 1636px) {
  #firstSection {
    padding: 0 200px;
  }
}
