footer {
  width: 100%;
  padding: 64px 0;
  background: #29292c;
}

footer .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column-reverse;
}

/* left */
footer .logosAndCommunityList {
  display: flex;
  flex-direction: column-reverse;
}

footer .text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #9c9da7;
  max-width: 400px;
  display: block;
  margin-top: 40px;
}

footer .logos img {
  margin-right: 24px;
  height: 48px;
  width: auto;
}

/* communityList */
footer .communityList {
  display: flex;
  max-width: 400px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}

footer .communityList .item {
  display: flex;
  align-items: center;
  width: 50%;
}

footer .communitySubList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

footer .communityList img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

footer .communityList a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #9c9da7;
}

footer .communityList a:hover {
  color: #c5c5cc;
}

/* right */

.footerNavigation {
  display: flex;
  flex-direction: column;
}

.footerNavigation > .item {
  width: 120px;
  margin-bottom: 32px;
}

.footerNavigation > .item:last-child {
  width: auto;
}

.footerNavigation a:hover {
  opacity: 0.8;
}

.footerNavigation > .item > span,
.footerNavigation > .item > a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #9c9da7;
}

.footerNavigation .links a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #f3f4f6;

  margin-top: 16px;
  display: block;
}
